nameko==2.12.0
logstash_formatter==0.5.17
circuitbreaker==1.3.0
gutter==0.5.0
request-id==1.0
statsd==3.3.0
nameko-sentry==1.0.0
pyopenssl==19.1.0
Flask==1.1.2
jaeger-client == 4.3.0
requests==2.23.0
opentracing==2.3.0
opentracing_instrumentation==3.2.1
tornado==5.1.1